body {
    background-color: rgb(80, 80, 80);
    color: white;
}

h1 {
    position: relative;
    padding-left: 50%;
}

.cv {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: space-between;
    justify-content: space-around;
}

.info {
    background-color: white;
    color: grey;
    width: 30%;
    height: 100px;
}

.info2 {
    background-color: white;
    color: grey;
    width: 30%;
    height: 100px;
}
